body{
    padding: 0;
    margin: 0;
    font-family:'Source Sans Pro',sans-serif;
    color: #fff;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    line-height: 160%;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
.container{
    width: 950px;
    margin: 0 auto;
}
section{
    padding: 4.7em 0em;
}
div{
    border-width:1px;
    border-color: rgb(102, 201, 48);
    border-style: solid;
}
.header {
    background: url("../img/bgc.jpg") no-repeat center top /cover;
    padding-top: 2em;
    padding-bottom: 3em;
    color: #fff;
    text-decoration: #d4b1b1;
}
.header-up{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}
.info-header ul{
    display: flex;
    align-items: center;
    column-gap: 47px;
}
.info-header a{
    transition: all 0.2s ease;
}
.info-header a:hover{
    color: #fff;
    text-decoration: underline;
}
.icons-header ul{
    display: flex;
    align-items: center;
    column-gap: 70px;
}
.aboout-header{
    padding-top: 11.5em;
}
.about-expoforum{
    display: flex;
}
.about-expoforum h1{
    font-size: 64px;
}
.about-left{
    display: flex;
    flex-direction: column;
    width: 21em;
}
.about-leftup{
    font-size: 24px;
}
.about-leftbot{
    padding-top: 1em;
    font-size: 16px;
    transition: all 0.2s ease;
}
.about-leftbot a:hover{
    color: #fff;
    text-decoration: underline;
}
.about-right{
    display: flex;
    justify-content: flex-end;
}
.сolor-box{
    display: flex;
}
.about-right a{
    transition: all 0.2s ease;
}
.about-right a:hover{
    color: #fff;
    text-decoration: underline;
}
.blue, .yellow, .green, .red {
    width: 255px;
    height: 148px;
    padding: 2em 2em 2em 2em  ;
}
.blue{
    background:#2378FC ;
    margin: 0em 2em 2em 0em;
}

.yellow{
    background: #FFC41E;
}
.green{
    background: #30BCC9;
    margin: 0em 0em 2em 0em;
}
.red{
    background: #F6404F;
}
.party{
    background: #2378FC;
}
.party-anus{
    display: flex;
    justify-content: space-around;

}
.party-anus h3{
    font-size: 30px;
    font-style: normal;
    line-height: 130%;
    letter-spacing: -0.3px;
}
.party-anus a{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    transition: all 0.2s ease;
}
.party-anus a:hover{
    color: #FFC41E;
    text-decoration: underline;
}
.party-anus li{
    padding: 0.6em 0em;
}
.sponsor, .exhibitors, .visitor, .press{
    display: flex;
    flex-direction: column;
}
.event{
    background: #FFC41E;
}
.event-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
.event-data{
    color: #2E373B;
    font-size: 14px;
    font-style: normal;
    line-height: 135%;
}
.event-about{
    color: #2E373B;
    font-size: 16px;
    font-style: normal;
    line-height: 135%;
}
.event h3{
    color: #F6404F;
    font-size: 21px;
    font-style: normal;
    line-height: 130%;
    letter-spacing: -0.21px;
    margin: 0.2em 0em ;
}
.black-arrow{
    font-weight: 500;
    color: #2E373B;
    font-size: 30px;
    line-height: 130%;
}
.event-contents a {
    color: #2E373B;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    transition: all 0.2s ease;
}
.event-contents a:hover{
    color: #2e373b;
    text-decoration: underline;
}
.event-up{
    display: flex;
}
.event-down{
    display: flex;
}
.event-one{
    margin: 0em 1em 1em 0em;
}
.event-two{
    margin: 0em 1em 1em 1em;
}
.event-three{
    margin: 0em 0em 1em 1em;
}
.event-four{
    margin: 1em 1em 0em 0em;
}
.event-five{
    margin: 1em 1em 0em 1em;
}
.event-six{
    margin: 1em 0em 0em 1em;
}
.news{
    background: #FAF3E3;
}
.news-right h3{
    color: #2E373B;
}
.news-right h2{
    color: #2E373B;
    font-size: 30px;
    font-style: normal;
    line-height: 130%;
    letter-spacing: -0.3px;
}
.news-right a{
    color: #2E373B;
    font-size: 21px;
    font-style: normal;
    line-height: 130%;
}
.news-right p{
    color: #F6404F;
}
.news-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background: #30BCC9
}
