body{
    padding: 0;
    margin: 0;
    font-family:'Source Sans Pro',sans-serif;
    color: #000;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    line-height: 160%;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
.container{
    width: 950px;
    margin: 0 auto;
}
.header {
    background: url("../img/bgc.jpg") no-repeat center top /cover;
    padding-top: 35px;
    padding-bottom: 33px;
    color: #fff;
    text-decoration: #d4b1b1;
}
.header-up{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}
.info-header ul{
    display: flex;
    align-items: center;
    column-gap: 47px;
}
.icons-header ul{
    display: flex;
    align-items: center;
    column-gap: 70px;
}
.about-expoforum{
    display: flex;
}
.about-left{
    display: flex;
}
.about-right{
   display: flex;
    justify-content: flex-end;
}
.about-expoforum h1{
    font-size: 64px;
}
div{
     border-width:1px;
     border-color: rgb(102, 201, 48);
     border-style: solid;
 }
.color-left{
    display: flex;
}
.color-right{
    display: flex;
}
